/* место для вашего кода */

.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

.header__nav {
    margin-right: 36px;
}

.header__nav-menu {
    display: flex;
    gap: 32px;

}

.header__nav_menu-item {
    position: relative;
    white-space: nowrap;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    line-height: 0;
    margin-right: 185px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    font-style: normal;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-self: end;
    line-height: 25px;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    min-height: 757px;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 165px;
    margin-bottom: 106px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}

.aligned-text {
    display: block;
    width: 100%;
}

.aligned-text_left {
    text-align: start;
}

.aligned-text_center {
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}

.aligned-text_right {
    text-align: end;
    margin-top: 20px;
    margin-left: 30px;
}

.cover__description {
    position: relative;
    z-index: 2;
    display: flex;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    word-spacing: 18.5px;
    margin-top: 12px;
    margin-right: 107px;
}

.bet-button {
    align-items: center;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
}

.lots {
    padding: 180px 24px 120px 24px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    margin-bottom: 30px;
}

.card-link,
.card {
    height: 100%;
}

.card-link {
    color: #fff;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);

}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    z-index: 2;
}

.card__title {
    margin-top: 48px;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
}

.card__text {
    list-style: none;
    font-size: 20px;
    margin-bottom: 48px;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

.about {
    padding: 0px 24px 180px 24px;
    display: grid;
    grid-template-columns: 334px 2fr;
    gap: 25px;
}

.about__logo {
    display: flex;
    margin-top: 35px;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    margin-left: 47px;
}

.about__logo-image {
    position: relative;
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-top: 136px;
    margin-bottom: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    width: 688px;
    font-size: 20px;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    margin: 0px 50px;
    min-height: 180px;
}

.footer__menu {
    justify-self: center;

}

.footer__menu-list {
    width: 164px;

}

.footer__menu-link_active {
    text-decoration: none;
}

.address_footer {
    max-width: 265px;
    font-size: 18px;
    justify-self: start;
}

.footer__menu-list-item {
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    list-style: none;
    text-align: center;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-self: end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}